<div class="dupa-modal" data-bind="scope: 'dupaPopup'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
{
    "*": {
        "Global4net_Cart/js/cart-popup": {"selectorModal": ".dupa-modal"},
        "Magento_Ui/js/core/app": <?= $block->getJsLayout();?>
    }
}
</script>


<!--<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "dupaPopup": {
                    "component": "Global4net_Cart/js/view/dupa-popup",
                    "config": {
                        "template": "Global4net_Cart/dupa-template"
                    }
                }
            }
        }
    }
}
</script>-->






<script type="text/x-magento-init">
    {
        "*": {
            "Global4net_Cart/js/cart-popup": {"selectorModal": ".dupa-modal"}
        }
    }
</script>
